.addpage {
  position: fixed;
  top: 0;
  right: 0;
  width: 42%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 1000;
}

.addpage_content {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  padding: 0 20px 40px; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.addpage_header {
  width: calc(100% + 40px); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(65, 50, 117); 
  color: white;
  padding: 10px 20px; 
  border-radius: 8px 8px 0 0; 
  box-sizing: border-box; 
  margin-left: -20px; 
  margin-right: -20px; 
}

.addpage_header h2 {
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: white; 
}

.categories, .widgets, .new-widget {
  margin-top: 20px;
}

.categories label, .widgets label, .new-widget label {
  display: block;
  margin-bottom: 10px;
}

.widgets input[type="checkbox"] {
  margin-right: 10px;
}

.new-widget input[type="text"],
.new-widget textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.new-widget textarea {
  height: 100px;
}

.addpage-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}

.addpage-footer button {
  padding: 8px 16px;
  border: 2px solid rgb(63, 57, 141); 
  border-radius: 8px;
  cursor: pointer;
  color: rgb(32, 30, 97); 
  background-color: transparent; 
  transition: background-color 0.3s, color 0.3s; 
}

.addpage-footer button:hover {
  background-color: rgb(36, 36, 88); 
  color: white; 
}

.addpage {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.categories {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .categories {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .addpage {
    padding: 10px;
  }
}
