.header {
    background: #eae8e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    color: black;
}

.header-section {
    display: flex;
    gap: 1rem;
}

button {
    border-radius: 5px;
    border: 1px solid #bab4b4;
    padding: 6px 8px;
    background: white; 
    color: black; 
    cursor: pointer; 
    transition: all 0.3s ease; 
}

button:hover {
    border-color: blue; 
    color: blue; 
}
